body {
    background: url("../images/marblebg.jpg");
    /* no-repeat center center fixed; */

}

.introPage {
    margin-left: 120px;
}

.title {
    font-family: 'Cabin Sketch';
    font-size: 80px;
}

#animation {
    position: absolute;
    /* top: 530px; */
    top: 200px;
    left: 45%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    /* font-size: 30px; */
    font-size: 60px;
    letter-spacing: 8px;
    white-space: nowrap;
    text-shadow: 0 2px 2px rgba(#000, 0.9);
  }

#startGame, #resetGame {
    font-family: 'Cabin Sketch';
    letter-spacing: 2px;
    font-size: 22px;
    position: fixed;
    text-align: center;
    left: 590px;
    bottom: 55px;
}


.disappear {
    display: none;
}

.questionsBox {
    width: 350px;
    height: 450px;
    border: 2px solid rgb(248, 243, 246);
    /* border-color: transparent; */
    border-radius: 50px;
    box-shadow: 20px 10px 10px rgb(248, 246, 248);
    /* background: url("../images/colormarblebg.jpg"); */
    background-color: rgb(221, 198, 217);
    text-align: center;
    margin: 0 auto;
}

.questionsBox h1 {
    color: white;
    font-family: 'Cabin Sketch';
    /* text-align: center; */
}

#question {
    color: white;
    font-family: 'Cabin Sketch';
    font-size: 25px;
    letter-spacing: 2px;
}

#choices {
    color: white;
    font-family: 'Cabin Sketch';
    font-size: 20px;
    letter-spacing: 1px;
}

#btn0, #btn1, #btn2, #btn3 {
    background-color: #ba9bbb;
    width: 250px;
    font-size: 20px;
    color: white;
    border: 1px solid #f0e7f1;
    border-color: transparent;
    border-radius: 50px;
    margin: 10px 30px 10px 30px;
    padding: 10px 10px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: rgb(235, 195, 202)
    /* background-color: #acc7f0; */
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}

#progress {
    color: white;
    font-family: 'Cabin Sketch';
    font-size: 18px;
    
}

#timer {
    font-family: 'Unica One';
    font-size: 30px;
    color: rgb(249, 246, 250)
    /* margin-top: 200px; */
}
